html {
  background-color: black;
}

#homeSpace {
  background: url(assets\img\moon-stars-astrophotography-dark-background-5k-8k-9k-9000x9000-6197.jpg) center center no-repeat;  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#homeSpace > div{
  border: solid 2px white;
  size: 20px;
  display: flex;
  flex-direction: column ;
  justify-content:center;
  text-decoration: underline;
  background: url(assets\img\17520.webp);
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
  background-image: linear-gradient(#008cff, #fffc2e);
  /* background-position: 50% 50%; */
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(0, 255, 242);
  animation: animate linear infinite 5s;
}
@keyframes animate{
  0%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(360deg);
  }
}
#homeSpace > a:hover {
  background-size: 100% 100%;
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(0, 255, 242);
}

#homeSpace > h1 {
  color: white;
  text-align: center;
  font-size: 75px;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(0, 255, 242);

}
#homeSpace > a {
  text-decoration: underline;
  background-color: rgb(255, 255, 255);
  font-size: 1.5em;
  border: solid 3px;
  color:#008cff;
  padding: 1.5rem;
  border-radius: 10px;
  background-image: linear-gradient(#008cff, #fffc2e);
  /* background-position: 50% 50%; */
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
  background-color: #c3f8ff;

  animation: animate linear infinite 5s;
}
@keyframes animate{
  0%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(360deg);
  }
}
#homeSpace > a:hover {
  background-size: 100% 100%;
  color: #fff;
}


#homeSpace > h4 {
  color: white;
  display: flex;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(0, 255, 242);
}

form {
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

form > * {
  margin: 0.5rem;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(0, 255, 242);
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}



#bio {
  margin: 5rem;
  display: flex;
  border:solid 2px white;
  justify-content: space-evenly;

}
#bio > h2{
  color: white;
  display: flex;
  border: solid 2px white;
  border: solid 5px black;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(0, 255, 242);
}
#bio > p{
  color: white;
  display: flex;
  flex-direction: row;
  border: solid 15px black;
}



#gallery {
  border: solid 1px white;
  clear: both;
}

#gallery > * {
  padding: 0.5rem;
}

#gallery img {
  display: block;
  height: auto;
  width: 92.5%;
  margin: auto;
}



#pizzas tbody {
  width: 100%;
}

#pizzas th {
  text-align: left;
}

#pizzas td,th {
  width: 25%;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: -ms-inline-flexbox;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
  }

  nav > i {
    padding: 20rem;
    font-size: 2em;
    color: white;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
    color: white;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
    color: rgb(255, 255, 255);

  }

  #bio img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1rem;
  }

  #gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding: 0 0;

  }

  nav > ul > li {
    display: -ms-inline-flexbox;
    text-decoration: none;
    border: 3px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
    color: rgb(59, 248, 255);



  }

  nav > .fa-bars {
    display: none;

  }

  #bio {
    margin-right: 3rem;
  }

  #bio img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }

  #gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    background-color: black;
  }
}

#pizzas {
  background: url(assets\img\17520.webp) center center no-repeat;  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
#order {
  margin: 5rem;
  display: flex;
  border:solid 2px white;
  justify-content: space-evenly;
}
#order img {
  float: left;
  width: 40%;
  height: auto;
  margin-right: 1rem;
}






nav > ul > li {
  background-image: linear-gradient(#90ff86, #11a803);
  /* background-position: 50% 50%; */
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
  background-color: #c5fffc;
  animation: animate linear infinite 5s;
}
@keyframes animate{
  0%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(360deg);
  }
}

nav > ul > li:hover {
  background-size: 100% 100%;
  color: #fff;
}


